// 亮白模式
:root.light {
    --background-color: #f1f5f9; // 背景色
    --content-background-color: #fff; // 内容背景色
    --border-color: #e2e8f0; // 边框色
    --primary-color: rgb(var(--color-primary-DEFAULT)); // 系统主题色
}

// 暗黑模式
:root.dark {
    --background-color: #141414; // 背景色
    --content-background-color: #1D1D1D; // 内容背景色
    --border-color: #20293B; // 边框色
    --primary-color: rgb(var(--color-primary-DEFAULT)); // 系统主题色
}
